@use '../../library' as l;

.mic {
    background-color: #fff;
    color: l.$primary-color;
    border: 1px solid l.$primary-color;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    cursor: pointer;

    &.active {
        background-color: l.$primary-color;
        color: #fff;
        border: none;
    }
}